.contacts {
  @extend .section;
  // background-color: $color-bg-footer-advantages;
  background-image: linear-gradient(to bottom,
      $color-white 22%,
      $color-bg-footer-advantages 22%);

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(to bottom,
        $color-white 46%,
        $color-bg-footer-advantages 46%);
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to bottom,
        $color-white 19.5%,
        $color-bg-footer-advantages 19.5%);
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    margin: -16px;
    list-style: none;

    @media screen and (min-width: 768px) {
      display: flex;
    }
  }

  &__item {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    padding: 40 32;
    background: $color-white;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 6 * 16px) / 3);
      margin: 16px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-weight: 500;
      font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
      font-weight: 500;
      font-size: 16px;
    }
  }

  &__type {
    display: inline-block;
    color: $color-white;
    text-transform: uppercase;
    background-color: $color-coffee-card;
    border-radius: 6px;
    padding: 4px 25px;

    @media screen and (min-width: 768px) {
      padding: 8px 16px;
    }

    @media screen and (min-width: 1200px) {
      padding: 8px 17px;
    }
  }

  &__type--green {
    background-color: $color-milkshake-card;
    padding: 3, 5px 28px;
  }

  &__city {
    margin-top: 20px;

    @media screen and (min-width: 768px) {
      margin-top: 32px;
    }
  }

  &__description {
    margin-top: 8px;
    color: $text-light;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-top: 12px;
    }
  }

  &__border {
    margin-top: 24px;
    margin-bottom: 24px;
    border: 1px solid $color-comma-line;

    @media screen and (min-width: 768px) {
      margin-top: 32px;
      margin-bottom: 32px;
    }
  }

  &__day {
    margin-top: 24px;
    color: $text-dark;

    @media screen and (min-width: 768px) {
      margin-top: 32px;
    }
  }

  &__time {
    margin-top: 7px;
    color: $text-secondary;
  }

  &__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    padding: 14px 35px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 22px;
    margin-bottom: 10px;
    transition: background-color 250ms $timing-function,
      color 250ms $timing-function;

    @media screen and (min-width: 768px) {
      display: block;
      list-style: none;
      justify-content: center;
      align-items: center;
      margin-right: 14px;
    }

    @media screen and (min-width: 1200px) {
      // display: block;
      // list-style: none;
      // justify-content: center;
      // align-items: center;
      margin-right: 12px;
    }
  }

  &__btn--accent {
    color: $color-white;
    background-color: $text-brand;
    transition: color 250ms $timing-function, background-color 250ms $timing-function;

    &:hover,
    &:focus {
      background-color: $button-hover;
      color: $text-brand;
      stroke: $text-brand;
    }

    &:hover .btn-svg--accent,
    &:focus .btn-svg--accent {
      stroke: $text-brand;
    }
  }


  &__btn--notuse {
    color: $text-brand;
    background-color: $color-white;
    padding: 14px 49px;
    transition: background-color 250ms $timing-function;

    &:hover,
    &:focus {
      background-color: rgba(236, 235, 235, 1);
    }

    @media screen and (min-width: 768px) {
      padding: 14px 35px;
    }
  }
}

.address {
  margin-top: 24px;
  color: $text-light;

  &:not(:last-child) {
    margin-top: 24px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 32px;
    color: $text-light;
  }

  &__mail {
    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $text-brand;
    }
  }

  &__tel {
    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
      color: $text-brand;
    }
  }
}

.contacts-location {
  display: flex;
  margin-top: 48px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;

  @media screen and (min-width: 767px) {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
  }
}

.btn-svg {
  background-color: transparent;
  stroke: $text-brand;
  fill: none;
  margin-left: 8px;
  margin-right: 2px;
}

.btn-svg--accent {
  stroke: $color-white;

  transition: stroke 250ms $timing-function;
}