.contacts__item {
        background: $color-white;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
}


.contacts__name {
        background: #F0D1A5;
        border-radius: 4px;
}