.gallery {

   @media screen and (max-width: 767px) {
      background-image: linear-gradient(to bottom, #fff5f6 20%, #fff 20%);
   }

   @media screen and (min-width: 768px) and (max-width: 1199px) {
      background-image: linear-gradient(to bottom, #fff5f6 60%, #fff 60%);
   }

   @media screen and (min-width:1200px) {
      background-image: linear-gradient(to bottom, #fff5f6 23%, #fff 20%);
   }

   &__container {
      @media screen and (min-width: 768px) and (max-width: 1199px) {
         padding: 0;
      }

      @media screen and (max-width: 767px) {
         padding: 0;
      }
   }

   &__picture-box {
      display: flex;
      justify-content: center;
   }

   &__picture {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;

   }
}