$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
$text-brand: #d41443;
$text-dark: #000000;
$text-light: #907E82;
$text-secondary: #ffa5ba;
$color-white: #ffffff;
$color-coffee-card: #f0d1a5;
$color-milkshake-card: #c2e297;
$color-icecream-card: #ffb8ca;
$color-bg-body: #e5e5e5;
$color-bg-footer-advantages: #fff5f6;
$color-point-little: #c7133e;
$color-point-big: #d9d9d9;
$color-house: #d31342;
$color-sociality: #fea5bb;
$color-button-location: #d41342;
$color-menu-dropdown: #e17992;
$color-bg-customer: #fafafa;
$color-comma-line: #e1e1e1;
$button-hover: #ECEBEB;
$box-shadow-contacts: 0px 8px 30px rgba(212, 20, 67, 0.1);