<section id="about" class="section about">
    <div class="container about__container">
        <p class="section__title-label about__title-label">tradition and love</p>
        <h2 class="section__title about__title">how it’s made?</h2>
        <div class="about__box">

            <div class="about__picture-box">
                <picture class="about__picture">
                    <source srcset="/src/img/03about/about.png 1x,
                                                /src/img/03about/about@2x.png 2x" media="(min-width: 1200px)" />

                    <source srcset="/src/img/03about/about-tablet.png 1x,
                                                /src/img/03about/about-tablet@2x.png 2x" media="(min-width: 768px)" />

                    <source srcset="/src/img/03about/about-mobile.png 1x,
                                                /src/img/03about/about-mobile@2x.png 2x" media="(max-width: 767px)" />

                    <img src="/src/img/03about/about-mobile.png" alt="Cow" />
                </picture>
            </div>
            <div class="about__text-box">
                <div class="about__text-description">
                    <p class="about__text">
                        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
                        eget,
                        egestas
                        eros.
                        Maecenas eleifend erat at justo fringilla.</p>
                    <p class="about__text">
                        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
                        imperdiet
                        placerat.
                        Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
                        tincidunt.
                    </p>
                    <p class="about__text">
                        Aliquam erat volutpat. Aenean accumsan.
                    </p>
                </div>
                <button class="btn about__btn" type="button" name="button"><span class="about__btn-text">Read
                        more</span>
                    <svg class="about__btn-icon" width="5" height="8px">
                        <use href="/src/img/symbol-defs.svg#icon-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>