<section class="contacts section">
    <h2 class="contacts__title visually-hidden">Our Locations</h2>
    <div class="container">
        <ul class="contacts__list list">
            <li class="contacts__item">
                <div class="contacts__box contacts__box--orange">
                    <p class="contacts__type">Cafe</p>
                </div>
                <div class="contacts__city">
                    <p class="contacts__heading">Chicago</p>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <p class="contacts__border"></p>
                </div>
                <div class="contacts__work">
                    <p class="contacts__day">Monday - Friday</p>
                    <p class="contacts__time">06:00 AM - 10:00 PM</p>
                    <p class="contacts__day">Saturday - Sunday</p>
                    <p class="contacts__time">08:00 AM - 16:00 PM</p>
                    <p class="contacts__border"></p>
                </div>
                <div class="contacts__tel">
                    <p class="contacts__tel"><a lang="en" href="tel:+610383766284" class="footer__point">+61(0) 383 766 284</a></p>
                    <p class="contacts__mail"><a lang="en" href="mailto:noreply@envato.com" class="footer__point">noreply@envato.com</a></p>
                </div>
            </li>
            <li class="contacts__item">
                <div class="contacts__box contacts__box--green">
                    <p class="contacts__type">FOOD TRUCK</p>
                </div>
                <div class="contacts__city">
                    <p class="contacts__heading">Los Angeles</p>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <p class="contacts__border"></p>
                </div>
                <div class="contacts__work">
                    <p class="contacts__day">Monday - Friday</p>
                    <p class="contacts__time">06:00 AM - 10:00 PM</p>
                    <p class="contacts__day">Saturday - Sunday</p>
                    <p class="contacts__time">08:00 AM - 16:00 PM</p>
                    <p class="contacts__border"></p>
                </div>
                <div class="contacts__tel">
                    <p class="contacts__tel"><a lang="en" href="tel:+610383766284" class="footer__point">+61(0) 383 766 284</a></p>
                    <p class="contacts__mail"><a lang="en" href="mailto:noreply@envato.com"
                            class="footer__point">noreply@envato.com</a></p>
                </div>
            </li>
            <li class="contacts__item">
                <div class="contacts__box contacts__box--orange">
                    <p class="contacts__type">Cafe</p>
                </div>
                <div class="contacts__city">
                    <p class="contacts__heading">New York</p>
                    <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <p class="contacts__border"></p>
                </div>
                <div class="contacts__work">
                    <p class="contacts__day">Monday - Friday</p>
                    <p class="contacts__time">06:00 AM - 10:00 PM</p>
                    <p class="contacts__day">Saturday - Sunday</p>
                    <p class="contacts__time">08:00 AM - 16:00 PM</p>
                    <p class="contacts__border"></p>
                </div>
                <div class="contacts__tel">
                    <p class="contacts__tel"><a lang="en" href="tel:+610383766284" class="footer__point">+61(0) 383 766 284</a></p>
                    <p class="contacts__mail"><a lang="en" href="mailto:noreply@envato.com"
                            class="footer__point">noreply@envato.com</a></p>
                </div>
            </li>
        </ul>
    </div>
    <div class="contacts-location">
        <button class="contacts__btn" type="button">Our Locations
            <svg class="btn-svg" height="8px">
            <use href="./img/symbol-defs.svg#icon-arrow"></use>
        </svg>
        </button>
        <button class="contacts__btn" type="button">Franchise
            <svg class="btn-svg" height="8px">
                <use href="./img/symbol-defs.svg#icon-arrow"></use>
            </svg>
        </button>
    </div>

</section>