<footer class="footer">
    <div class="footer__container container">
        <div class="footer__box">
            <div class="footer__box-text">
                <p class="footer__text">homemade ice cream made</p>
                <p class="footer__text">with passion</p>
            </div>
            <div class="footer__box-contacts">
                <ul class="footer__socials">
                    <li class="footer__socials-item"><a class="footer__socials-link" href="https://github.com/"
                            target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                            <svg class="footer__socials-icon" width="19px" height="19px">
                                <use href="/src/img/symbol-defs.svg#icon-github "></use>
                            </svg>
                        </a></li>
                    <li class="footer__socials-item"><a class="footer__socials-link" href="https://web.telegram.org/k/"
                            target="_blank" rel="noopener noreferrer" aria-label="Telegram">
                            <svg class="footer__socials-icon" width="19px" height="15px">
                                <use href="/src/img/symbol-defs.svg#icon-telegram "></use>
                            </svg>
                        </a></li>
                    <li class="footer__socials-item"><a class="footer__socials-link" href="https://www.facebook.com/"
                            target="_blank" rel="noopener noreferrer" aria-label="Facebook">
                            <svg class="footer__socials-icon" width="9px" height="19px">
                                <use href="/src/img/symbol-defs.svg#icon-facebook "></use>
                            </svg>
                        </a></li>
                </ul>
                <p class="footer__tel-text">Feel free to contact <a class="footer__tel-link"
                        href="tel:+610383766284">+61 (0) 383
                        766 284</a>
                </p>
            </div>
        </div>
    </div>
    <div class="footer__copyright-box">
        <p class="footer__copyright-text">&copy; 2022 - IceCream. </p>
        <p class="footer__copyright-text">All Rights Reserved. </p>
    </div>

    <!-- Модальное окно -->
    <div class="backdrop-contacts is-hidden" data-modal-contacts>
        <div class="modal">
            <iframe class="modal__map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48306.10070752951!2d-74.24518395162406!3d40.82507970570754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2555646a723a1%3A0x449f3366d017b214!2z0JzQvtC90LrQu9C10YAsINCd0YzRji3QlNC20LXRgNGB0LgsINCh0KjQkA!5e0!3m2!1sru!2sua!4v1658775558837!5m2!1sru!2sua"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

            <button class="modal__btn" data-modal2-close>
                <svg class="modal__btn--img">
                    <use href="./img/symbol-defs.svg#icon-close"></use>
                </svg>
            </button>


        </div>

    </div>

</footer>