<section id="products" class="products">
   <div class="container products__container">
      <div class="products__text">
         <p class="products__parargah">100% naturals</p>
         <h2 class="products__title">PRODUCTS</h2>
      </div>
      <ul class="range">
         <li class="range__item range__item--pink">
            <h3 class="range__title">ice cream </h3>
            <p class="range__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
               incididunt ut labore et. </p>
            <button class="range__button" type="button" name="button">
               <span class="range__arrow"></span>
            </button>
         </li>
         <li class="range__item range__item--brown">
            <h3 class="range__title">ice coffee </h3>
            <p class="range__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
               incididunt ut labore et. </p>
            <button class="range__button" type="button" name="button">
               <span class="range__arrow"></span>
            </button>
         </li>
         <li class="range__item range__item--green">
            <h3 class="range__title">milkshakes </h3>
            <p class="range__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
               incididunt ut labore et.</p>
            <button class="range__button" type="button" name="button">
               <span class="range__arrow"></span>
            </button>
         </li>
      </ul>
   </div>

</section>