<section class="reviews">
   <h2 class="visually-hidden">Customer Reviews</h2>
   <div class="container reviews__container">
      <div class="reviews__box">
         <div class="reviews__slide">
            <img class="reviews__img" srcset="./img/06review/review.png 1x, ./img/06review/review@2x.png 2x"
               src="./img/06review/review.png" alt="photo client" />
            <div class="reviews_thumb">
               <p class="reviews__rev">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
               </p>
            </div>

            <p class="reviews__name">Emily, Los Angeles</p>
         </div>
      </div>

      <div class="reviews__box">
         <div class="reviews__slide">
            <img class="reviews__img" srcset="./img/06review/review2.png 1x, ./img/06review/review2@2x.png 2x"
               src="./img/06review/review2.png" alt="photo client" />
            <div class="reviews_thumb">
               <p class="reviews__rev">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
               </p>
            </div>
            <p class="reviews__name">Helen, Washington</p>
         </div>
      </div>

      <div class="reviews__box">
         <div class="reviews__slide">
            <img class="reviews__img" srcset="./img/06review/review3.png 1x, ./img/06review/review3@2x.png 2x"
               src="./img/06review/review3.png" alt="photo client" />
            <div class="reviews_thumb">
               <p class="reviews__rev">
                  Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                  hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
               </p>
            </div>
            <p class="reviews__name">Hanna, Philadelphia</p>
         </div>
      </div>
   </div>
</section>